@import url('https://fonts.googleapis.com/css?family=Raleway:400');

:root{
  --text: #D6F7E5;
  --background: #010b02;
  --primary: #07D81C;
  --secondary: #052609;
  --accent: #009f57;
}

html{
  background-color: var(--background);
  color: var(--text);
  font-size: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}
body {
  font-family: 'Raleway';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Futura Now Headline';
  font-weight: 700;
}

h1 {font-size: 5.652rem; /* 90.4px */}

h2 {font-size: 3.997rem; /* 64px */}

h3 {font-size: 2.827rem; /* 45.28px */}

h4 {font-size: 1.999rem; /* 32px */}

h5 {font-size: 1.414rem; /* 22.56px */}

small {font-size: 0.707rem; /* 11.36px */}

