#main{
    width: 80vw;
    text-align: center;
    margin: auto;
}

#heading{
    margin-bottom: -15px;
}

.recent{
    text-align: center;
}

#recent{
    margin-top: 7vh;
}

.VCCimage{
    width: 100vw;
}

.VCC{
    position: relative;
    text-align: center;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--background);
}