#main{
    width: 80vw;
    text-align: center;
    margin: auto;
}

#heading{
    margin-bottom: -15px;
}

.recent{
    text-align: center;
}

#recent{
    margin-top: 10vh;
}

#recentheading{
    margin-bottom: 25px;
}


.VCCimage{
    width: 100vw;
    opacity: 0.5;
    transform: translate(0, -30%);
}

.VCC{
    position: relative;
    text-align: center;
    height: 50vh;
    overflow: hidden;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text);
}