#main{
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: auto;
    position: relative;
}

#heading{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text);
    width: max-content;
}

#recent{
    text-align: center;
}

#recentheading{
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 1vh;
    transform: translate(-50%, 0)
}

.container {
    scroll-snap-type: y proximity;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.child{
    scroll-snap-align: start;
    margin-left: 0;
    padding: 0;
    width: 100vw;
}

/* VCC */
    .VCCimage{
        width: 100vw;
        opacity: 0.5;
        transition-property: all;
        transition-duration: 3s;
    }
    #VCC{
        position: relative;
        text-align: center;
        height: 100vh;
        overflow: hidden;
        margin-left: 0;
    }
    .centered{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--text);
    }

/* UMK */
    .UMKimage{
        width: 100vw;
        opacity: 0.5;
        margin-left: 0;
    }
    #UMK{
        position: relative;
        text-align: center;
        height: 100vh;
        overflow: hidden;
        margin-left: 0;
    }

