:root
{
    --text: #fef9ec;
    --background: #00131a;
    --primary: #00ffc8;
    --secondary: #01394c;
    --accent: #57c8d1;

}

body{
    background-color: var(--background);
}

h1{
    color: var(--text);
}

p
{
    color: var(--text)
}
.heading
{
    text-align: center;
}